.container {
    width: 100%;
    background: none;
}

.cart {
  width: 100%;
  margin: 20px auto;
  text-align: center;
}
.shop {
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    padding: 20px;
    background: none;
}

.card-shop { 
  width: 14%;
  margin: 20px 20px;
  background-size: cover;
  transition: 1s;
}

.card-shop:hover {
  width: 18%;
}

.container-card-header {
  width: 100%;
}

.container-img {
  width: 100%;
}

.img-product {
  width: 100%;
}

@media (max-width: 1024px) {
  .card-shop {
    width: 30%;
    text-align: center;
    margin: 20px 40px;
    transition: 1s;
  }

  .card-shop:hover {
    width: 35%;
  }


}
@media (max-width: 700px) {
  .card-shop {
    width: 30%;
    text-align: center;
    margin: 20px 20px;
    transition: 1s;
  }

  .card-shop {
    width: 34%;
  }


}
@media (max-width: 700px) {
  .card-shop {
    width: 30%;
    text-align: center;
    margin: 15px 20px;
    transition: 1s;
  }

  .card-shop {
    width: 34%;
  }


}