<div class="container">
  <app-cart class="cart"></app-cart>
  <div class="shop">
    <mat-card class="card-shop" *ngFor="let card of prod">
      <img mat-card-image src="{{card.imageURL}}" alt="picture of product">
      <mat-card-content>
        <h2>{{card.name}}</h2>
        <p>{{card.currency}}{{card.price}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="buy()">Add item to cart</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>