<div class="container">
  <div class="buy">
    <div class="icon">
      <mat-icon aria-hidden="false" aria-label="Example add_shopping_cart icon" class="icon-cart">add_shopping_cart</mat-icon>
    </div>
    <mat-card class="card-shop">
      <mat-card-content></mat-card-content>
      <mat-card-actions>
        <button mat-button mat-raised-button color="warn" class="btn-remove">Remove item from cart</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="price">
    <div class="total">
      <h5>$2000</h5>
    </div>
    <button mat-button mat-raised-button color="primary" class="btn-buy">Buy</button>
  </div>
</div>