.container {
    width: 60%;
    background: none;
    margin: 20px;
    border: 1px solid #ccc;
}

.icon {
  width: 100%;
  text-align: justify;
}

.icon-cart {
  color: rgb(71, 16, 199);
  font-size: 30px;
  transition: 1s;
}

.icon-cart:hover {
  font-size: 40px;
}

.buy {
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 20px;
    margin: 20px 20px;
    background: #fff;
}

.btn-remove {
  width: 90%;
  font-size: 10px;
  text-align: center;
}

.card-shop { 
  width: 40%;
  margin: 20px;
}

.price {
  width: 100%;
  height: 100px;
  border: 1px solid rgb(71, 16, 199);
}

.total {
  margin-top: 20px;
}

.btn-buy {
  width: 90%;
}

@media (max-width: 1024px) {

  .container {
    width: 90%;
  }

  .buy {
    width: 100%;
  }

  .card-shop {
    width: 40%;
    text-align: center;
    margin: 10px auto;
  }

} 
@media (max-width: 700px) {

  .container {
    width: 90%;
  }

  .buy {
    width: 100%;
  }

  .card-shop {
    width: 40%;
    text-align: center;
    margin: 10px auto;
  }

} 
@media (max-width: 400px) {

  .container {
    width: 90%;
  }

  .buy {
    width: 100%;
  }

  .card-shop {
    width: 40%;
    text-align: center;
    margin: 10px auto;
  }

} 