.container-nav {
  width: 100%;
  background: #000080;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  padding: 20px;
}

.container-name {
    width: 100%;
    text-align: start;
    margin: auto 15px;
}

.container-name p {
    font-size: 20px;
    color: #fff;
}


@media (max-width: 1024px) {

  .container-name {
    width: 50%;
    text-align: start;
    margin: auto 15px;
}
  
} 
@media (max-width: 720px) {
  .container-name {
    width: 100%;
    text-align: center;
    margin: 15px auto;
}

.container-btn {
  width: 100%;
}
  
} 
@media (max-width: 400px) {

  .container-name {
    width: 100%;
    text-align: center;
    margin: 15px auto;
}

} 